html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

body
{
	min-height: 100vh;
	background-image: url("images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center ;
	font-family: Arial, sans-serif;
	/* background-color: #cd7777; */
	margin: 0;
}

#question_form {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	gap: 0;
	margin: 0;	
	padding: 0;
}


#your_question:not(:empty) {
	padding: 20px 40px 20px 0;
}
#your_question
{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	position: relative;
	/* background-color: #727272; */
	background: rgba(0, 85, 130, 0.627);
	border-radius: 25px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	color: #000000;
	font-weight: bold;
	font-size: 1rem;
	/* margin-bottom: 20px; */
}

#answer:not(:empty) {
	padding: 20px 40px 20px 0;
}
#answer
{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	position: relative;
	/* background-color: #727272; */
	background: rgba(0, 85, 130, 0.627);
	border-radius: 25px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	color: #000000;
	font-weight: bold;
	font-size: 1rem;
	/* margin-bottom: 20px; */
}

form
{

	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 40px;
}

input::placeholder
{
	color: #000000b0;
	font-weight: 500;
}
input:hover
{
	background-color: #29799697;
	color: #000000;
	transition: background-color 0.3s ease, color 0.3s ease;
}
input, textarea
{
	font-family: Arial, sans-serif;
	font-size: 1rem;
	padding: 10px;
	border: #006bde41 3px solid;
	border-radius: 10px;
	width: 50%;
	box-sizing: border-box;
	color: #000000;
	font-weight:500 ;
	background-color: #29799644;
}

#ask:hover
{
	background-color: #00999cde;
	color: #ffffff;
	box-shadow: 0 0px 8px rgb(0, 0, 0);
}

#ask
{
	transition: background-color 0.3s ease, color 0.3s ease;
	border: none;
	margin-left: 5px;
	padding: 10px;
	border-radius: 10px;
	/* border: #00122541 4px solid; */
	background: rgba(29, 44, 160, 0.044);
	color: #00b0b3;
	font-weight: bold;;
	font-family: Arial, sans-serif;
	cursor: pointer;
}

