<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
		<title>ChatBot</title>
	</head>

	<body>
		<h1>Welcome to ChatBot</h1>
		<h2>Ask any question you want
			about [ BAU ] and [ HU ] universities.
		</h2>
		<form onsubmit="to_chat(event)" method="post">
			<button type="submit">Start Chat</button>
		</form>
	</body>
	<script>
		function to_chat(event) {
			event.preventDefault();
			window.location.href = "{{ url_for('chat') }}";
		}
	</script>
</html>
